body{
  background-image:url(https://hdqwalls.com/download/dark-road-covered-by-mountains-wv-2560x1700.jpg);
  background-size: cover;
  background-color: #001820;
  background-image: hsla(180,0%,50%,0.25);
}
.headblock{
  display: flex;
}
.awesome{
  margin-left: -20px;
  fill:#ffffff;
  transform:scale(0.6, 0.6);
}
.headtext{
  margin-top: 50px;
  margin-left: auto;
  font-family: "Raleway Semi Bold","Raleway Semi Bold", sans-serif;
  font-weight: normal;
  color: #ffffff;
  word-spacing: 50px;
  font-size: 15px;
  text-align: right;
}
.casestudies{
  word-spacing: normal;
}
.features{
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}
.contact{
  border: 3px solid white;
  padding: 5px 25px;
  border-radius: 15px;
}
.mainblock{
  padding: 0px 0px;
  margin: auto;
  max-width: 550px
}
.topic{
  margin:auto;
  color: #000000;
  font-family: "Raleway Semi Bold","Raleway Semi Bold", sans-serif;
  font-weight:lighter;
  text-align: center;
  font-size: 35px;
}
.beawesome{
  color:#ffffff;
}
.rhumbus{
  margin-left: 80px;
  transform:scale(0.7, 0.7);
}
.text{
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-family: "Raleway Semi Bold","Raleway Semi Bold", sans-serif;
  font-weight:lighter;
  font-size: 20px;
  word-spacing: normal;
}
.contacts{
  padding: 0px 0px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.fb{
  max-width: 75px;
  transform:scale(0.75, 0.75);
  vertical-align: middle;
  margin-left: auto;
}

.awesome1{
  vertical-align: 30px;
  margin-left: auto;
  font-size: 20px;
  color: #ffffff;
  font-family: "Raleway Semi Bold","Raleway Semi Bold", sans-serif;
  font-weight:lighter;
}
.twitter{
  fill:#ffffff;
  vertical-align: 5px;
  margin-left: 30px;
}
.awesome2{
  vertical-align: 30px;
  margin-left: 10px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Raleway Semi Bold","Raleway Semi Bold", sans-serif;
  font-weight:lighter;
}
.google{
    fill:#ffffff;
    margin-left: 30px;
    vertical-align: 5px;
    transform:scale(1.15, 1.15);
}
.awesome3{
  vertical-align: 30px;
  margin-left: 10px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Raleway Semi Bold","Raleway Semi Bold", sans-serif;
  font-weight:lighter;
}
.footer{
  padding: 0px 0px;
  margin: auto auto;
  text-align: center;
}
.triangle{
  fill: #ffffff;
  transform:scale(4, 4);
  margin-right: auto;
  margin-bottom: 0px;
}
.more{
  font-family: "Raleway Semi Bold","Raleway Semi Bold", sans-serif;
  font-weight:lighter;
  font-size: 3.5px;
  fill: #000000;
}
